header {
  background-color: #202020;
}
footer {
  background-color: #202020;
  color: white;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
}
header li {
  display: inline-block;
}
.reviews {
  background-color: #e8e8e8;
}
.guitar-list {
  background-color: #fbfbfb;
}
.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
}
.cta-sale {
  background-color: #127300;
}

/** <link href="//db.onlinewebfonts.com/c/9dc62b8077b41e8044113a572047ecc9?family=Boots+&+Spurs" rel="stylesheet" type="text/css"/>**/
