@font-face {
  font-family: bootsandspurs;
  src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}
.special-font {
  font-family: bootsandspurs;
}
header {
  background-color: #202020;
}
footer {
  background-color: #202020;
  color: white;
  text-align: center;
}
header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
header li {
  display: inline-block;
}
.reviews {
  background-color: #e8e8e8;
}
.guitar-list {
  background-color: #fbfbfb;
}
.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
}
.cta-sale {
  background-color: #127300;
}

body {
  font-family: "roboto", arial, sans-serif;
}
